.running-text-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding: 0 0 100px 0;
  z-index: 100;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.marquee {
  display: flex;
  white-space: nowrap;
  will-change: transform;
}

.marquee-content {
  display: flex;
  align-items: center;
  padding-right: 0;
}

.marquee-item {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 200px;
  font-weight: 600;
  color: #f5f5f5;
  display: inline-flex;
  align-items: center;
  letter-spacing: -1px;
  margin-right: 80px;
}

.separator {
  display: none;
}

/* Responsive styles */
@media (max-width: 1199px) {
  .marquee-item {
    font-size: 150px;
    margin-right: 70px;
  }
}

@media (max-width: 767px) {
  .marquee-item {
    font-size: 110px;
    margin-right: 60px;
  }
}

@media (max-width: 480px) {
  .marquee-item {
    font-size: 80px;
    margin-right: 50px;
  }
}
