.running-text-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding: 0;
  z-index: 100;
  cursor: default;
}

.marquee {
  display: flex;
  white-space: nowrap;
  will-change: transform;
}

.marquee-content {
  display: flex;
  align-items: center;
  padding-right: 0;
}

.marquee-item {
  font-family: "Mona Sans", sans-serif;
  font-size: 150px;
  font-weight: 600;
  color: red;
  display: inline-flex;
  align-items: center;
  letter-spacing: -1px;
  margin-right: 80px;
}

.separator {
  display: none;
}

/* Responsive styles */
@media (max-width: 1199px) {
  .marquee-item {
    font-size: 110px;
    margin-right: 70px;
  }
}

@media (max-width: 767px) {
  .marquee-item {
    font-size: 85px;
    margin-right: 60px;
  }
}

@media (max-width: 480px) {
  .marquee-item {
    font-size: 65px;
    margin-right: 50px;
  }
}
